/Library/BurstCache/
/Library/Artifacts/*
/wymiary.txt
/Library/Bee/
/Logs/
/.vs/Zaścianek/v17/Browse.VC.db
/Assets/Sprites/Units/b.png
/Packages/
*.meta
/Temp
/Builds
/Library
/Builds/
/Library/
/Library/ScriptMapper
/Library/Search/98957a664bd18c47a3e41b2a0189ef53.548.1.index
/Library/Search/transactions.db
/Library/SourceAssetDB
/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ProjectSettings/TagManager.asset
/UserSettings/Layouts/default-2021.dwlt
/Builds/Zaścianek_Data/globalgamemanagers
/Builds
/obj/*
/Builds/Zaścianek_Data/*
